@{
    ViewData["Title"] = "Про нас";
}
<div style="width: 100%; min-height: 100vh">
    <div style="width: 100%; height: auto; background: rgb(44,52,71);
            background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);">
        <div class="container">
            <div class="row">                
                <div class="col-md-10" style="display:flex; align-items:center; justify-content: center;">
                    <h3 style="font-weight: 500;font-size: 45px;color: #FFFFFF;line-height: 45px; text-align: center;">
                        Здоровий дух в здоровому тілі — ось короткий, але повний опис щасливого стану в цьому світі.<br /> (Джон Локк)
                    </h3>
                    <h4 style="font-style: normal;font-weight: 500;font-size: 30px; line-height: 30px;color: #FFFFFF; text-align: center">
                        Якщо будеш слідувати природі, то назавжди залишишся здоровим.<br /> (Вільям Пенн)
                    </h4>
                </div>
                <div class="col-md-2">
                    <img src="~/img/icons/logo_catalog.png" width="100%" height="164px" />
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: auto; background: rgb(198,62,62);
         background: linear-gradient(90deg, rgba(198,62,62,1) 0%, rgba(244,124,80,1) 54%, rgba(244,124,80,1) 100%);">
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <img src="~/img/icons/logo_catalog1.png" width="100%" height="130px" style="float: right;" />
                </div>
                <div class="col-md-11" style="text-align: right; display:flex; align-items:center; justify-content: center; padding: 5px 5px 5px 0">
                    <h3 style="font-weight: 500; padding: 0; font-size: 28px;line-height: 28px;text-align: center;color: #FFFFFF;">
                        Здоров’я люди зберігають завдяки тому, що знають себе і спостерігають за тим, що їм приносить користь і що шкода, як і завдяки стриманості в їжі і способі життя, намагаючись оберігати своє тіло, відмовляючись від насолод, нарешті, завдяки мистецтву тих, до чиєї галузі знань все це відноситься. (Цицерон)
                    </h3>
                    <h4 style="font-style: normal;font-weight: 500;font-size: 25px;line-height: 25px; margin-left: 10%; text-align: center;color: #FFFFFF;">
                        Подібно до того, як буває хвороба тіла, буває також хвороба способу життя (Демокріт)
                    </h4>
                </div>                
            </div>
        </div>
    </div>
    <div class="container">
        <div style="margin: 45px 0px; height: auto; border: 2px solid #808080; border-radius: 10px;">
            <h3 class="mt-4" style="font-weight: 500; font-size: 35px; text-align: center">Про нас</h3>
            <div class="mb-4" style="width: 90%; margin: 15px auto">
                <p style="font-weight: 400; font-size: 25px; text-align: justify; text-indent: 30px">Ласкаво просимо на наш сайт, що пропонує Вам широкий вибір курсів здоров'я та розвитку людини. Наші курси розроблені висококваліфікованими спеціалістами з медицини, фізичної культури та психології, і вони допоможуть Вам покращити своє тіло та дух. </p>
                <p style="font-weight: 400; font-size: 25px; text-align: justify; text-indent: 30px">Ми пропонуємо курси для людей різного рівня підготовки і віку, так що Ви завжди зможете знайти щось для себе. Наш сайт створений командою ентузіастів, що вірять у значущість правильного підходу до здоров'я та розвитку людини. Сосновський Ернест, Іван Марченко та Ірина Семенюк - створювачі сайту і наші ключові експерти, які постійно роблять все можливе, щоб надати Вам найкращі курси здоров'я та розвитку. </p>
                <p style="font-weight: 400; font-size: 25px; text-align: justify; text-indent: 30px">Не соромтеся звертатися до нас з будь-якими запитаннями та пропозиціями, ми завжди раді допомогти та дати Вам всю необхідну інформацію. Наша команда висококваліфікованих спеціалістів завжди готова допомогти Вам здобути нові знання та навички для Вашого здоров'я та розвитку. Наш сайт є Вашим шляхом до кращого життя!"</p>
            </div>            
        </div>
    </div>
    <div style="width: 100%; height: auto; background: rgb(44,52,71);
            background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);">
         <div class="container">
            <div style="width: 100%; display:flex; align-items:center; justify-content: center; padding-top: 20px; margin-bottom: 20px">
                <img src="~/img/icons/leaf-left-contact.png" width="44.16px" height="62.5px" style="margin-right: 20px; margin-bottom: 20px; text-align: center" />
                <h3 style="font-weight:400; font-size: 35px; color: #FFFFFF; text-align: center">ЗАСНОВНИКИ ПЛАТФОРМИ</h3>
                <img src="~/img/icons/leaf-right-contact.png" width="41.22px" height="69.71px" style="margin-left: 20px; margin-bottom: 20px; text-align: center; transform: rotate(15deg)" />
            </div>
            <div class="row" style="width: 100%">
                <div class="col-md-4" style="display: flex; justify-content: center; margin-bottom: 49px">
                    <div style="width: 75%; height: auto; background-color: #FFFFFF; border: 2px solid #808080; border-radius: 20px; text-align: center">
                        <img style="width: 100%; height: 210px; border-radius: 20px" src="~/img/icons/founder-1.jpg" />
                        <h1 class="mt-3" style="font-weight: 500; font-size: 35px; color: #1A9F83">Ернест Сосновський</h1>
                        <h3 class="mt-2" style="font-weight: 400; font-size: 25px;">Головний директор</h3>
                        <ul style="margin-left: 5px; margin-right: 5px; font-weight: 400; font-size: 15px; text-align: left">
                            <li>Володіє високими організаторськими здібностями.</li>
                            <li>Завжди своєчасно приймає рішення в непередбачених обставинах.</li>
                            <li>На шляху до наміченої мети можуть зупинити тільки надзвичайні труднощі.</li>
                            <li>Володіє високими професійними знаннями і навичками.</li>                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4" style="display: flex; justify-content: center; margin-bottom: 49px">
                    <div style="width: 75%; height: auto; background-color: #FFFFFF; border: 2px solid #808080; border-radius: 20px; text-align: center">
                        <img style="width: 100%; height: 210px; border-radius: 20px" src="~/img/icons/founder-2.jpg" />
                        <h1 class="mt-3" style="font-weight: 500; font-size: 35px; color: #1A9F83">Іван Марченко</h1>
                        <h3 class="mt-2" style="font-weight: 400; font-size: 25px;">Головний адміністратор</h3>
                        <ul style="margin-left: 5px; margin-right: 5px; font-weight: 400; font-size: 15px; text-align: left">
                            <li>Систематично працює над поглибленням своїх знань.</li>
                            <li>Відмінно організовує та забезпечує ведення результативної роботи.</li>
                            <li>Безмежно відданий своєму обов’язку.</li>
                            <li>Виконує всі поставлені перед ним завдання обґрунтовано, швидко, з детальною обробкою та відмінною якістю.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4" style="display: flex; justify-content: center; margin-bottom: 49px">
                    <div style="width: 75%; height: auto; background-color: #FFFFFF; border: 2px solid #808080; border-radius: 20px; text-align: center">
                        <img style="width: 100%; height: 210px; border-radius: 20px" src="~/img/icons/founder-3.jpg" />
                        <h1 class="mt-3" style="font-weight: 500; font-size: 35px; color: #1A9F83">Ірина Семенюк</h1>
                        <h3 class="mt-2" style="font-weight: 400; font-size: 25px;">Головний PR-манаджер</h3>
                        <ul style="margin-left: 5px; margin-right: 5px; font-weight: 400; font-size: 15px; text-align: left">
                            <li>Іноді допускає помилки при організації та забезпеченні ведення результативної роботи.</li>
                            <li>Не завжди методично правильно будує заняття, що знижує рівень підготовки підлеглих працівників.</li>
                            <li>Прихильниця любих, іноді некорисних нововведень.</li>
                            <li>Не надає питанням, які пов’язані з людьми , того значення, яке вони заслуговують.</li>
                        </ul>
                    </div>
                </div>
            </div>
         </div>
    </div>           
    <div id="contacts" name="contacts" style="background-image: url(../img/icons/contact_bg.png); background-repeat: no-repeat; background-size: cover; background-position: center center; height: auto; padding: 44px 0px">
        <div class="container">
            <div style="width: 100%; height: auto; background-color: #FFFFFF; border: 2px solid #808080; border-radius: 10px;">
                <div style="display: flex; justify-content: center; align-items: center">
                    <img class="mt-3" src="~/img/icons/leaf-left-green-contact.png" width="29.84px" height="42.23px" style="margin-right: 60px; margin-bottom: 20px; text-align: center" />
                    <h3 class="mt-4" style="font-weight: 500; font-size: 35px; text-align: center">Контакти</h3>
                    <img class="mt-3" src="~/img/icons/leaf-right-orange-contact.png" width="27.85px" height="47.11px" style="margin-left: 50px; margin-bottom: 20px; text-align: center; transform: rotate(15deg)" />
                </div>                
                <div class="row" style="width: 95%; margin: 10px auto">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-3" style="text-align: center">
                                <img src="~/img/icons/contact-info.png" style="width: 110px; height: 110px" />
                            </div>
                            <div class="col-md-9">
                                <h3 style="font-weight: 400; font-size: 25px;">Телефони підтримки</h3>
                                <div style="display: flex;">
                                    <h3 style="font-weight: 400; font-size: 25px;">+38 (093) 777 77 77</h3>
                                    <h3 style="margin-left: 10%; font-weight: 400; font-size: 25px;">+38 (050) 777 77 77</h3>
                                </div>
                                <div style="display: flex;">
                                    <h3 style="font-weight: 400; font-size: 25px;">+38 (044) 777 77 77</h3>
                                    <h3 style="margin-left: 10%; font-weight: 400; font-size: 25px;">+38 (067) 777 77 77</h3>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <div class="row">
                                <div class="col-md-5" style="margin-left: 1%">
                                    <img src="~/img/icons/main-office.png" style="width: 235px; height: 238px" />
                                </div>
                                <div class="col-md-6" style="display: flex; align-items: flex-end">
                                    <h5 style="font-weight: 400; font-size: 18px;">Офіс: <span style="color: #1A9F83">02000, м. Київ, вул. Еспланадна, 20 м. Палац спорта</span></h5>
                                </div>
                            </div>                            
                        </div>
                    </div>                    
                    <div style="width: 1%; float: right; margin-right: 0; padding: 0; border-right: 1px solid #808080; height: 390px;"></div>                    
                    <div class="col-md-5" style="margin-left: 25px">
                        <div class="row">
                            <div class="col-md-3" style="text-align: center">
                                <img src="~/img/icons/email-info.png" style="width: 110px; height: 110px" />
                            </div>
                            <div class="col-md-9" style="padding-left: 24px">
                                <h3 style="font-weight: 400; font-size: 25px;">Поштова адреса</h3>
                                <h4 class="mt-3" style="font-weight: 400; font-size: 20px;">xeka@heka.ua</h4>
                            </div>
                        </div>
                        <div class="mt-4" style="width: 110%">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5082.3705763553635!2d30.5171581!3d50.4376493!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cefe7083c21f%3A0x70e7805f5ada4040!2z0LLRg9C70LjRhtGPINCV0YHQv9C70LDQvdCw0LTQvdCwLCAyMCwg0JrQuNGX0LIsIDAyMDAw!5e0!3m2!1suk!2sua!4v1674180302824!5m2!1suk!2sua" width="100%" height="238" style="border: 2px solid #808080; border-radius: 20px" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <a href="https://sites.google.com/view/maps-api-v2/mapv2"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="width: 100%; height: 50px; margin-bottom: auto; background: rgb(44,52,71);
         background: linear-gradient(90deg, rgba(44,52,71,1) 0%, rgba(26,159,131,1) 100%, rgba(26,159,131,1) 100%);">
    </div>
</div>