@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if (ViewData["Title"].Equals("Список бажань"))
        {
            <a id="wishlist" class="nav-link text-dark account-partial-bordered" style="margin-left: 20px; box-sizing: border-box; border: 1px solid #808080; background-color: #F25564; box-shadow: none" asp-controller="UserWishes" asp-action="Index">
                <p id="wishlistCount" style="display: none">0</p>
                <p id="courseIdList" style="display: none">0</p>
                <img src="~/img/icons/heart_white.png" height="28px" width="28px"/>
            </a>
        }
        else
        {
            <a id="wishlist" class="nav-link text-dark account-partial-bordered" style="margin-left: 20px" asp-controller="UserWishes" asp-action="Index">
                <p id="wishlistCount" style="display: none">0</p>
                <p id="courseIdList" style="display: none">0</p>
                <img src="~/img/icons/heart.png" height="28px" width="28px"/>
            </a>
        }
        @if (ViewData["Title"].Equals("Профіль"))
        {
            <a class="nav-link text-dark account-partial-bordered" asp-area="Identity" asp-page="/Account/Manage/Index"
                style="width:54px; height: 57px; display:flex; align-items:center; justify-content: center; box-sizing: border-box; border: 1px solid #808080; background-color: #1A9F83; box-shadow: none">
                <img src="~/img/icons/person_white.png" height="28px" width="28px"/>
            </a>
        }
        else
        {
            <a class="nav-link text-dark account-partial-bordered" asp-area="Identity" asp-page="/Account/Manage/Index"
                style="width:54px; height: 57px; display:flex; align-items:center; justify-content: center">
                <img src="~/img/icons/person_label.png" height="28px" width="28px"/>
            </a>
        }
        @if (ViewData["Title"].Equals("Кошик"))
        {
            <a id="cart" style="box-sizing: border-box; border: 1px solid #808080; background-color: #F47C50; box-shadow: none" class="nav-link text-dark account-partial-bordered disabled" asp-controller="UserOrders" asp-action="Index">
                <p id="cartItemsCount" style="display: none">0</p>
                <p id="cost" style="display: none">0</p>
                <img src="~/img/icons/cart-white.png" height="28px" width="28px" />
            </a>
        }
        else
        {
            <a id="cart" class="nav-link text-dark account-partial-bordered" asp-controller="UserOrders" asp-action="Index">
                    <p id="cartItemsCount" style="display: none">0</p>
                    <p id="cost" style="display: none">0</p>
                <img src="~/img/icons/cart.png" height="28px" width="28px" />
            </a>
        }

    <a sp-area="Identity" asp-page="/Account/Login" style="width:54px; height: 57px;">
        <form asp-area="Identity" asp-page="/Account/Logout" 
              asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"
              class="account-partial-bordered center-items-inside" style="width:100%; height: 57px;padding:0">       
            <button type="submit" style="width:100%; height: 57px; border:none; background: none; padding: 0;
                    margin-right: 2px">
                  <img src="~/img/icons/log_out.png" height="28px" width="28px" />
            </button>
        </form>
    </a>
}
else
{
    <a class="nav-link text-dark nav-item-bordered"
            style="width: 141px; height: 57px; display:flex; align-items:center; justify-content: center;
            background-color:#1A9F83; color: #FFFFFF!important"
            asp-area="Identity" asp-page="/Account/Login">ВХІД
    </a>

    <a id="cart" class="nav-link text-dark account-partial-bordered" asp-area="Identity" asp-controller="UserOrders" asp-action="Index">
            <p id="cartItemsCount" style="display: none"></p>
            <p id="cost" style="display: none"></p>
        <img src="~/img/icons/cart.png" height="28px" width="28px" />
    </a>
}
</ul>
