<footer class="border-top footer text-muted container-fluid">
    <div class="row mt-4">
        <div class="col-auto col-sm-auto me-4" style="margin-left: 10%">
            <a asp-controller="Home" asp-action="Index">
                <table>
                    <tr>
                        <th>                                    
                            <img src="~/img/icons/logo2.png" style="width:76px; height: 142px; margin-top: 45px; margin-bottom: 20px;" />
                        </th>
                    </tr>
                    <tr>
                        <th>                                    
                            <img src="~/img/icons/logo3.png" style="width: 71px; height: 47px; margin-bottom: 50px;" />
                        </th>
                    </tr>
                </table>
            </a>                        
        </div>
        
        <div class="col-auto col-sm-auto">
            <img src="~/img/icons/stick_footer.png" style="height: 264px; width: 11px; margin-top: 15%;" />
        </div>

        <div class="col-auto col-sm-auto" style="color: white; font-weight:normal;">

            <div class="ms-5">
                <a asp-controller="Courses" asp-action="Index" style="color: white; text-decoration: none"><p><h6>КУРСИ</h6></p></a>
                <a asp-controller="Home" asp-action="TopTwenty" style="color: white; text-decoration: none"><p><h6>ТОП-20</h6></p></a>
                <a asp-controller="Home" asp-action="AboutUs" style="color: white; text-decoration: none"><p><h6>ПРО НАС</h6></p></a>                            

                <p style="margin-top: 40px"><h6><a>Як це працює?</a></h6></p>
                <p><h6><a>Умови використання</a></h6></p>
                <p><h6><a>Політика конфіденційності</a></h6></p>
                <p><h6><a>F&A</a></h6></p>
            </div>

        </div>

        <div class="col">

        </div>

        <div class="col-auto col-sm-auto" style="color: white; font-weight:normal;">

            <div class="me-5">
                <p><h6><a>Контакти:</a></h6></p>
                <p><h6><a>+38 (050) 777 ** **</a></h6></p>
                <p><h6><a>+38 (067) 777 ** **</a></h6></p>
                <p><h6><a>+38 (093) 777 ** **</a></h6></p>
                <p><h6><a>(044) 777 ** **</a></h6></p>

                <p style="margin-top: 40px"><h6><a>Поштова адреса:</a></h6></p>
                <p><h6><a>xeka@heka.ua</a></h6></p>
            </div>

        </div>

        <div class="col-auto col-sm-auto">
            <img src="~/img/icons/stick_footer.png" style="height: 264px; width: 11px; margin-top: 15%;" />
        </div>

        <div class="col-auto col-sm-auto ms-4" style="color: white; font-weight:normal; margin-right:10%">
            <p><h5 style="text-align: left; margin-top: 15%">Офіс</h5></p>
            <p>
                <h6 style="text-align: left;  margin-top: 15%">
                    02000, м. Киїів, вул. Еспланадна, 20 <br>м. Палац спорта
                </h6>
            </p>

            <p></p>
            <h6 style="text-align: left; ; margin-top: 15%">Ми у соц. мережах</h6>

            <div class="row" style=" margin-top: 15%">
                <div class="col">
                    <a href="https://www.instagram.com" title="Instagram" target="_blank"><img src="~/img/icons/inst.png" style="height: 28px; width: 28px; margin-top: 15%;" /></a>
                </div>
                <div class="col">
                    <a href="https://www.facebook.com" title="Facebook" target="_blank"><img src="~/img/icons/facebook.png" style="height: 28px; width: 28px; margin-top: 15%;" /></a>
                </div>
                <div class="col">
                    <a href="https://web.telegram.org" title="Telegram" target="_blank"><img src="~/img/icons/telegram.png" style="height: 28px; width: 28px; margin-top: 15%;" /></a>
                </div>
                <div class="col">
                    <a href="https://twitter.com" title="Twitter" target="_blank"><img src="~/img/icons/twitter.png" style="height: 28px; width: 28px; margin-top: 15%;" /></a>
                </div>
                <div class="col">
                    <a href="https://www.youtube.com" title="YouTube" target="_blank"><img src="~/img/icons/youtube.png" style="height: 28px; width: 35px; margin-top: 15%;" /></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid center-items-inside w-100" 
    style="background: linear-gradient(270deg, #218F7A 0%, #296060 48.44%, #313648 100%);font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #D9D9D9;
    font-style: normal;
    font-weight: 400;
    height: 49px">
        ТОВ “ХЕКА” 2022 
</div>