@using HealthyLife.Data
@using HealthyLife.Models
@using HealthyLife.Areas.Identity.Pages.Account.Settings;
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context
@inject RoleManager<IdentityRole> RoleManager

<link rel="stylesheet" href="~/css/drop-down-menu.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/settings_profile.css" asp-append-version="true" />

@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }

    var currentUser = _context.ApplicationUsers.Where(u => u.UserName == User.Identity.Name).FirstOrDefault();

    var roles = new SelectList(RoleManager.Roles.ToList(), "Name", "Name");
    var currentUserRoles = await UserManager.GetRolesAsync(currentUser);
}
<style>
    .none {
        display: none;
    }
    /**{
        border: 1px solid red;
    }*/
</style>


<div class="container-fluid" style="height: 700px">
    <div class="row pt-3" style="margin-left: 10%; width: 60%">
        <div class="col-auto mt-1">
            <img src="~/img/icons/arrow.png" width="33px" height="23px" id="back-btn"/>
        </div>

        <div class="col-auto text mt-1">
            <h3 class="text" style="color: white; font-weight: 500;font-size: 40px; line-height: 40px;">Налаштування</h3>
        </div>
    </div>

    <div class="navigation-main container" id="navigation-container">
        <div class="row p-2 mt-3">
            <div class="col-md-2" style="margin-top: 20px; width: 20%" id="nav-settings">
                <partial name="_SettingsNav"/>
            </div>
            <div class="col-md-10" style="margin-top: 20px; width: 80%" id="render-settings">
                @RenderBody()
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
    <script src="~/js/profile.js"></script>
}
