@page
@model DeletePersonalDataModel
@{
    ViewData["Title"] = "Видалення аккаунту";
    ViewData["ActivePage"] = SettingsNavPages.DeletePersonalData;
    Layout = "/Areas/Identity/Pages/Account/Settings/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>
            Видалення Вашого облікового запису та персональних даних є остаточним та не може бути скасовано.<br>
            Команда ХЕКА вже не зможе відновити Ваш акаунт. <br>
            Видалення - незворотня дія. <br>
            Ви більше не зможете використовувати цю електронну пошту на платформі  XEKA.
        </strong>
    </p>
</div>

<div>
    <form id="delete-user" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        @if (Model.RequirePassword)
        {
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Please enter your password." />
                <label asp-for="Input.Password" class="form-label"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        }
        <button class="w-100 btn btn-lg btn-danger" type="submit">Видалити дані і закрити свій обліковий запис</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
