@inject SignInManager<HealthyLife.Models.ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-acc-item @ManageNavPages.CurrentCoursesClass(ViewContext)" id="currentCourses" 
                asp-page="./CurrentCourses" onMouseOver="this.style.background='#F7A121'" onMouseOut="this.style.background='#FFFFFF'">
                Активні курси
        </a>
        <a class="nav-acc-item @ManageNavPages.PurchasedCoursesClass(ViewContext)" id="purchasedCourses" 
                asp-page="./PurchasedCourses" onMouseOver="this.style.background='#F47C50'" onMouseOut="this.style.background='#FFFFFF'">
                Придбані курси
        </a>
        <a class="nav-acc-item @ManageNavPages.FinishedCoursesClass(ViewContext)" id="finishedCourses" 
                asp-page="./FinishedCourses" onMouseOver="this.style.background='#1A9F83'" onMouseOut="this.style.background='#FFFFFF'">
                Завершені курси
        </a>
        <a class="nav-acc-item @ManageNavPages.HistoryOperationsClass(ViewContext)" id="historyOperations" 
                asp-page="./HistoryOperations" onMouseOver="this.style.background='#F25564'" onMouseOut="this.style.background='#FFFFFF'">
                Історія операцій
        </a>
    </li>
</ul>
