@page
@model CurrentCourses
@{
    ViewData["Title"] = "Активні курси";
    ViewData["ActivePage"] = ManageNavPages.CurrentCourses;
}

<div>
    <h1>Тут будуть Активні курси</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
