@page
@model CurrentCourses
@{
    ViewData["Title"] = "Завершенні курси";
    ViewData["ActivePage"] = ManageNavPages.FinishedCourses;
}

<div>
    <h1>Тут будуть Завершені курси</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
