@page
@model CurrentCourses
@{
    ViewData["Title"] = "Історія операцій";
    ViewData["ActivePage"] = ManageNavPages.HistoryOperations;
}

<div>
    <h1>Тут будуть Історія операцій</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
