@page
@model CurrentCourses
@{
    ViewData["Title"] = "Придбані курси";
    ViewData["ActivePage"] = ManageNavPages.PurchasedCourses;
}

<div>
    <h1>Тут будуть Придбані курси</h1>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
