.pagination {
    --bs-link-color: #1A9F83;
    --bs-link-hover-color: #1A9F83;
    --bs-pagination-active-bg: #1A9F83;
    --bs-pagination-active-border-color: #1A9F83;
}

.page-link {
    border: 2px solid var(--bs-link-color);
    font-size: 30px;
}

.page-item {
    font-size: 30px;
}

.course-image {
    transition: all 1s ease;
}

.course-image:hover {
    transform: scale(1.11);
}

.sort-link {
    color: #808080;
    font-size: 20px;
    transition: color 0.4s;
}

.sort-link:hover {
    color: #1A9F83;
}

.course:after {
    content: "";
    position: absolute;
    height: 100%;
}

@media (max-width: 992px) {
    .grid3 {
        width: 100%;
    }
    .product-card-list {
        display: block;
    }
    .img-content, .course-content {
        width: 100%;
    }
    .course-img {
        border-radius: inherit;
    }
    #courses-operations {
       justify-content: flex-start !important;
       align-items: flex-start !important;
    }
    #grid4 {
        display: none;
    }
    #grid5 {
        display: none;
    }
}

@media (max-width: 576px) {
    .dropdown-toggle {
        font-size: 23px !important;
    }
    #list {
        margin: 0 5px !important;
    }
    #grid3 {
        margin-left: 5px !important;
    }
}