.filter-hr {
    border: none;
    padding-left: 5%;
    color: black;
    background-color: black;
    height: 2px;
}

.page-link {
    border: 2px solid royalblue;
    font-size: 30px;
}

.page-item {
    font-size: 30px;
}