.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


html, body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 1 auto;
}

body {
    margin-bottom: 60px;
    font-family: 'Yanone Kaffeesatz';
    font-size: 20px;
    font-weight: bold;    
}

.nav-item-bordered {
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px #808080;
    width: 100px;
    text-align: center;
    transition: 0.5s;
    font-weight: 400;
}

.nav-item-bordered:hover {
    background-color: #FFE1D2;
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.search-item-bordered {
    border: 3px solid #808080;
    box-shadow: 3px 3px #808080;
    outline: none;
    border-radius: 10px;
    height: 58px;
    transition: 0.5s;
}

.search-item-bordered:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.account-partial-bordered {
    border: 3px solid #808080;
    box-shadow: 3px 3px #808080;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    /*margin-right: 5%!important;*/
}

.account-partial-bordered:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}
#cart {
    width: 54px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

#wishlist {
    width: 54px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
}

#cart:hover #cartItemsCount {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

#wishlist:hover #wishlistCount {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

#cartItemsCount {
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: -15%;
    right: -15%;
    background-color: #F25564;
    color: #FFFFFF;
    -webkit-box-shadow: 3px 3px #808080;
    -moz-box-shadow: 3px 3px #808080;
    box-shadow: 3px 3px #808080;
    z-index: -2;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.5s;    
}

#wishlistCount {
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: -15%;
    right: -15%;
    background-color: #F7A121;
    color: #FFFFFF;
    -webkit-box-shadow: 3px 3px #808080;
    -moz-box-shadow: 3px 3px #808080;
    box-shadow: 3px 3px #808080;
    z-index: -2;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.5s;
}

#courseIdCartList {
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: -35%;
    right: -15%;
    background-color: #F7A121;
    color: #FFFFFF;
    z-index: -2;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.5s;
}

#courseIdList {
    width: 23px;
    height: 23px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    bottom: -35%;
    right: -15%;
    background-color: #F7A121;
    color: #FFFFFF;
    z-index: -2;
    border-radius: 10px;
    font-size: 17px;
    transition: 0.5s;    
}

#pre-header {
    text-align: center;
    background-color: antiquewhite;
    white-space: nowrap;
    background: linear-gradient(270deg, #218F7A 0%, #296060 48.44%, #313648 100%);
}

#pre-header h4 {
    display: inline-block;
}

.footer {
    background-color: #2C3447;
    color: white;
}

.product-card {
    border: 1px solid #808080;
    box-shadow: 3px 3px #808080;
    transition: 0.5s;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;    
    position: sticky;
}

.product-card:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.product-card-list {
    border: 1px solid #808080;
    box-shadow: 3px 3px #808080;
    transition: 0.5s;
    border-radius: 20px;
}

.product-card-list:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.comment-block {
    width: 100%;
    height: 353px;
    border: 1px solid #808080;
    box-shadow: 3px 3px #808080;
    transition: 0.5s;
    border-radius: 20px;
    background-color: #FFFFFF;
}

.comment-block:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.img_comment {
    width: 85px;
    height: 85px;
    box-shadow: 3px 3px #808080;
    border-radius: 50px;
    margin: 25px;
}

.swiper {
    /*height: 425px;*/
}

.mySwiper2 {
    width: 100%;
}

.swiper-pagination {
    width: 29px;
    height: 29px;
}

.form-shadow {
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 3px 3px #808080;
    width: 100px;
    text-align: center;
    transition: 0.5s;
    font-weight: 400;
    padding-top: 12px;
}

.my-btn {
    border: 1px solid black;
    box-shadow: 3px 3px #808080;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    text-decoration: none;
    color: #2C3447;
}

.my-btn:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.my-btn-danger {
    border: 1px solid black;
    box-shadow: 3px 3px #808080;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: #ff6666;
    text-decoration: none;
    color: #2C3447;
}

.my-btn-danger:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.my-btn-warning {
    border: 1px solid black;
    box-shadow: 3px 3px #808080;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: #ffcc00;
    text-decoration: none;
    color: #2C3447;
}

.my-btn-warning:hover {
    box-shadow: 0px 0px;
    transition: 0.5s;
}

.my-btn-primary {
    border: 1px solid black;
    box-shadow: 3px 3px #808080;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: #99ccff;
    text-decoration: none;
    color: #2C3447;
}

.my-btn-primary:hover {
    box-shadow: 0px 0px !important;
    transition: 0.5s;
}

.my-btn-success {
    border: 1px solid black;
    box-shadow: 3px 3px #808080;
    margin-right: 20px;
    outline: none;
    border-radius: 10px;
    padding: 5px;
    transition: 0.5s;
    background-color: #99ff99;
    text-decoration: none;
    color: #2C3447;
}

.my-btn-success:hover {
    box-shadow: 0px 0px !important;
    transition: 0.5s;
}

.grid3 {
    width: 33.333%;
}

.grid4 {
    width: 25%;
}

.grid5 {
    width: 20%;
}

.img-profile {
    height: 150px;
    width: 150px;
    box-shadow: 3px 3px #808080;
    border-radius: 19px;
}

.btn-profile-settings {
    width: 30px;
    height: 30px;
    margin-left: 80%;
    margin-top: 11px;
    margin-right: 24px;
    border: 1px solid #808080;
    border-radius: 5px;
    background: #FFFFFF;
    box-shadow: 2px 2px #808080;
    transition: 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-profile-settings:hover {
    box-shadow: 0px 0px !important;
    transition: 0.5s;
}

.nav-acc-item {
    text-decoration: none;
    text-decoration: inherit;
    color: inherit;
    width: 288px;
    height: 73px;
    background: #FFFFFF;
    border: 2px solid #808080;
    border-radius: 13px;
    transition: 0.5s;
    box-shadow: 2px 2px #808080;
    margin-top: 40px;
    font-weight: 400;
    font-size: 35px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #2C3447;
}

.nav-acc-item:hover {
    box-shadow: 0px 0px !important;
    transition: 0.5s;
    color: #2C3447;
}

.active-field {
    pointer-events: none;
    background: rgba(128, 128, 128, 0.2);
    box-shadow: 0px 0px !important;
}

.center-items-inside {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 25px;
    color: #2C3447;
}

#edit-btn:hover {
    border: 1px solid #fbe6e1;
    background: #fbe6e1;
}

#setting:hover {
    border: 1px solid #d5ece7;
    background: #d5ece7;
}

#calendar:hover {
    border: 1px solid #fbe8d2;
    background: #fbe8d2;
}

#rating:hover {
    border: 1px solid #fbe2dd;
    background: #fbe2dd;
}

#saveBtn:hover {
    border: 1px solid #90ccc2;
    background: #90ccc2;
}

#cancelBtn:hover {
    border: 1px solid #dbefe9;
    background: #dbefe9;
}

#back-btn {
    cursor: pointer;
}

.navigation-container {
    width: 100%;
    height: 665px;
    display: block;
    overflow: hidden;
    background: linear-gradient(270deg, #218F7A 0%, #296060 48.44%, #313648 100%);
}

#img-edit-profile {
    border: 1px solid;
    cursor: pointer;
    transition: 0.5s;
}

#img-edit-profile:hover {
    transition: 0.5s;
    opacity: 1.5;
    box-shadow: 0px 0px #808080;
}
select:hover {
    cursor: pointer;
}

option:hover {
    cursor: pointer;
}

.nav-a {
    width: 140px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 3px solid #808080;
    border-radius: 10px;
    transition: 0.5s;
    font-style: normal;
    box-shadow: 3px 3px #808080 !important;
}

.nav-a:hover {
    transition: 0.5s;
    box-shadow: 0px 0px #808080!important;
}

.nav-a-active {
    width: 140px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFE1D2;
    padding: 10px;
    box-sizing: border-box;
    border: 3px solid #808080;
    border-radius: 10px;
    pointer-events: none;
    border-radius: 10px;
    transition: 0.5s;
    box-shadow: 0px 0px #808080;
    font-style: normal;
}

.shadow {
    transition: 0.5s;
    box-shadow: 3px 3px #808080;
}

.shadow:hover {
    transition: 0.5s;
    box-shadow: 0px 0px #808080;
}