<div class="container-fluid text-center" style="background-image: url('../img/icons/bg-img-main-page.png'); width: 100%;
    background-repeat: no-repeat;background-size: 100% 100%; padding-top: 1px; height: 475px" id="stat-block">

    <div class="row" style="margin-left:13%; margin-top: 3%" id="row-block-info">
        <div class="col-md-auto mt-minus" style="text-align: center; margin-top: 3%">
            <h3 style="color: #FFFFFF; font-weight: 500; font-size: 64px;" class="h3-info mt-minus">100</h3>
            <h4 style="color: #FFFFFF; font-weight: 500; font-size: 25px;" class="h4-info mt-minus">
                ТРЕНІНГІВ ТА КУРСІВ</h4>

            <img src="~/img/icons/dash.png" width="324px" class="dash mt-minus mt-0" />
            <h3 style="color: #FFFFFF; font-weight: 500; font-size: 64px;" class="h3-info mt-minus">2</h3>
            <h4 style="color: #FFFFFF; font-weight: 500; font-size: 25px;" class="h4-info mt-minus">
                Років на ринку</h4>
        </div>
        <div class="col-md-auto mt-3" id="vertical-dash-img">
            <img src="~/img/icons/vertical_dash.png" height = "300" width = "2px" />
        </div>
        <div class="col-md-auto info-col mt-minus" style="margin-top: 3%">
            <h3 style="color: #FFFFFF; font-weight: 500; font-size: 64px;" class="h3-info mt-minus">200 000</h3>
            <h4 style="color: #FFFFFF; font-weight: 500; font-size: 25px;" class="h4-info mt-minus">
                ЗАДОВОЛЕНИХ КЛІЄНТІВ</h4>

            <img src="~/img/icons/dash.png" width="324px" class="dash mt-minus"/>
            <h3 style="color: #FFFFFF; font-weight: 500; font-size: 64px;" class="h3-info mt-minus">50</h3>
            <h4 style="color: #FFFFFF; font-weight: 500; font-size: 25px;" class="h4-info mt-minus">
                ПАРТНЕРІВ</h4>
        </div>
    </div>
</div>