@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ заборонено";
}

<header class="container">
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Ви не маєте доступу до цієї сторінки</p>
</header>
