@page
@model ConfirmEmailModel;
@{
    ViewData["Title"] = "Підтвердження пошти";
}
<div class="container">
    <h1>Результат підтвердження пошти :</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
